* {
  color: #d31010;
}
body {
  background-image: url(images/redteamhacking.jpg);
  height: 160vh;
  background-repeat: repeat;
  background-size: cover;
  font-family: "BBH Bogle", sans-serif;
  overflow-y: scroll;
}
.head {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 97%;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  color: rgb(110, 18, 18);
  transform: translateX(0px);
  animation: intro 2s cubic-bezier(0.99, -0.59, 0, 1.37);
}

.head img {
  width: 80px;
  height: 140%;
  border-radius: 50%;
}
h1 {
  color: #ff0000;
  text-shadow: #ff0000;
  font-size: 35px;
  margin-top: 50px;
}
h1:hover {
  color: #750707;
}
.main {
  background-color: transparent;
  display: flex;
  backdrop-filter: blur(4px);
  height: 80vh;
  margin-top: 30px;
  margin-left: 40px;
  transform: translateY(0px);
  border-radius: 17px;
  width: 35vh;
  /* width: 130vh; */
  flex-direction: column;
  padding: 20px 10px 70px 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow:
    0 0 30px rgba(114, 26, 26, 0.889),
    inset 0 -5px 10px #831d1d;
  animation: intro 2s cubic-bezier(0.99, -0.59, 0, 1.37);
}
.main:hover {
  box-shadow:
    0 0 30px rgba(68, 10, 10, 0.889),
    inset 0 -5px 10px #5c0a0a;
  background-color: transparent;
}

@keyframes intro {
  from {
    transform: translateX(-600px);
  }

  to {
    transform: translateX(0px);
  }
}

.main button {
  background-color: transparent;
  color: #ff0000;
  gap: 100vh;
  margin-top: 5px;
  outline: none;
  border: none;
  border-bottom: solid #863b3b 7px;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  cursor: pointer;
  width: 35vh;
  transition: 0.1s ease;
  font-size: 17px;
  box-shadow:
    0 0 30px rgba(102, 41, 41, 0.889),
    inset 0 -5px 10px #661818;
  transform: translateY(0px);
  font-weight: 880px;
}

.main button:hover {
  box-shadow:
    0 0 30px rgba(83, 21, 21, 0.582),
    inset 0 -5px 10px #a21414;
  background-color: transparent;
}

.main button:active {
  box-shadow:
    0 0 30px rgba(196, 93, 93, 0.889),
    inset 0 -5px 10px #4d2525;
  background-color: #6e3939;
  transform: translateY(3px);
}
@keyframes inro2 {
  from {
    transform: translateY(900px);
  }

  to {
    transform: translateY(0px);
  }
}
.output {
  background-color: transparent;
  backdrop-filter: blur(4px);
  font-size: 5px;
  gap: 0px;
  display: flex;
  padding-left: 20px;
  padding: 0px;
  font-size: 25px;
  margin-top: 30px;
  height: 50vh;
  /* height: 60vh; */
  margin-left: 40px;
  width: 132vh;
  line-height: 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  transform: translateY(0px);
  padding-top: 10px;
  /* justify-content: center; */
  overflow-y: scroll;
  line-height: 35px;
  box-shadow:
    0 0 30px rgba(102, 24, 24, 0.889),
    inset 0 -5px 10px #660c0c;
  animation: inro2 2s cubic-bezier(0.96, -0.57, 0.01, 1.38);
}
.output p {
  color: #ff0000;
  font-weight: 60px;
  font-size: 30px;
}
/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
  background-color: #f0f0f000;
  /* Background of the scrollbar track */
}

/* Target the scrollbar track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55555500;
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 6, 6);
}
.output:hover {
  box-shadow:
    0 0 30px rgba(68, 10, 10, 0.889),
    inset 0 -5px 10px #5c0a0a;
  background-color: transparent;
  transform: translateY(0px);
}

a {
  background-color: transparent;
  color: #ff0000;
  outline: none;
  border: none;
  border-bottom: solid #863b3b 7px;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 17px;
  margin-top: 5px;
  box-shadow:
    0 0 30px rgba(77, 23, 23, 0.842),
    inset 0 -5px 10px #720909;
  transform: translateY(0px);
}

a:hover {
  text-decoration: none;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.link a:hover {
  box-shadow:
    0 0 30px rgba(100, 33, 33, 0.889),
    inset 0 -5px 10px #661818;
  background-color: transparent;
}

.link :active {
  box-shadow:
    0 0 30px rgba(196, 93, 93, 0.889),
    inset 0 -5px 10px #853636;
  background-color: transparent;
  transform: translateY(3px);
}
